# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env
.venv
pyvenv.cfg

# VS Code
.vscode/
.history/

# Visual Studio
.vs/
*.csproj
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates
"pgpractice-df6083d215fd.json" 

secrets/
obj/
